@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;600&display=swap');
* {
  font-family: Catamaran, Arial, Helvetica, sans-serif;
  font-weight: 400;
  &::selection {
    background: transparent;
    color: var(--selection-text-color);
  }
}
